/* CSS DE ESTIQUETAS PARA TODAS LAS PAGINAS */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
h1 {
  font-family: "Caveat", cursive;
  font-size: 50px;
  text-align: center;
}
span {
  font-weight: bold;
  color: black;
}
.enviosGratis {
  background-color: #766aaa;
  text-align: center;
  font-size: 1.4rem;
}
/* CSS DEL HEADER */
.logo {
  height: 10rem;
  width: 10rem;
  background-color: #bae9eb;
}

/* CSS DE LAS OFERTAS DE LIBROS */

.ofertas {
  border: solid 2px;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  width: 550px;
  height: 750px;
}
.ofertas__foto {
  height: 75%;
  width: 100%;
}
.ofertas__texto {
  text-align: center;
  font-weight: bold;
  font-family: "Caveat", cursive;
  font-size: 2rem;
}
.precio {
  text-align: right;
  font-weight: bold;
  font-size: 2rem;
}

/* CSS DE LIBROS */

.grilla {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat(3 900px);
  grid-template-areas:
    "libro1 libro2 libro3 libro4"
    "libro5 libro6 libro7 libro8"
    "libro9 libro10 libro11 libro12";
}
.orden1 {
  grid-area: libro1;
}
.orden2 {
  grid-area: libro2;
}
.orden3 {
  grid-area: libro3;
}
.orden4 {
  grid-area: libro4;
}
.orden5 {
  grid-area: libro5;
}
.orden6 {
  grid-area: libro6;
}
.orden7 {
  grid-area: libro7;
}
.orden8 {
  grid-area: libro8;
}
.orden9 {
  grid-area: libro9;
}
.orden10 {
  grid-area: libro10;
}
.orden11 {
  grid-area: libro11;
}
.orden12 {
  grid-area: libro12;
}

.libros {
  border: solid 2px;
  width: 400px;
  background-color: white;
  border-radius: 8px;
  padding: 25px;
  margin: 10px;
}
.libros-1 {
  width: 100%;
  height: 520px;
}
.libros-texto1 {
  text-align: center;
  font-family: "Caveat", cursive;
  margin-top: 10px;
}
.libros-sinopsis1 {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  margin-top: 10px;
}

.libros-boton {
  font-size: 25px;
  margin-top: 15px;
}

/* CSS DE AGENDAS */

.agendas {
  border: solid 2px;
  width: 400px;
  background-color: white;
  border-radius: 8px;
  padding: 25px;
  margin: 10px;
}
.agendas-1 {
  width: 100%;
}
.agendas-texto1 {
  font-family: "Caveat", cursive;
}
.agendas-sinopsis1 {
  font-family: "Times New Roman", Times, serif;
}
/* CSS DE NOSOTOROS */

.libreria {
  border: solid 2px;
  width: 1300px;
  height: 1300px;
  background-color: white;
  border-radius: 8px;
  padding: 10px 15px 0px 10px;
  margin: 10px;
}

.libreria-1 {
  width: 50%;
  height: 50%;
}
.libreria-2 {
  width: 50%;
  height: 50%;
}
.libreria.texto1 {
  text-align: right;
}

/* CSS DE ENVIOS */

.formulario {
  background-color: white;
  width: 600px;
}
