* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1 {
  font-family: "Caveat", cursive;
  font-size: 50px;
  text-align: center;
}

span {
  font-weight: bold;
  color: black;
}

.enviosGratis {
  background-color: #766aaa;
  text-align: center;
  font-size: 1.4rem;
}

.logo {
  height: 10rem;
  width: 10rem;
  background-color: #bae9eb;
}

.precio {
  text-align: right;
  font-weight: bold;
  font-size: 2rem;
}

.ofertas {
  border: solid 2px;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  width: 550px;
  height: 750px;
}
.ofertas .ofertas__foto {
  height: 70%;
  width: 100%;
}
.ofertas .ofertas__texto {
  text-align: center;
  font-weight: bold;
  font-family: "Caveat", cursive;
  font-size: 250%;
}
.ofertas .boton-tama {
  font-size: 100%;
}

.libros {
  border: solid 2px;
  width: 360px;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}
.libros .libros-1 {
  width: 100%;
  height: 520px;
}
.libros .libros-texto1 {
  text-align: center;
  font-family: "Caveat", cursive;
  margin-top: 10px;
}
.libros .libros-sinopsis {
  text-align: justify;
  margin-top: 10px;
  font-size: 100%;
  font-family: "Crimson Text", serif;
}

.agendas {
  border: solid 2px;
  width: 400px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}
.agendas .agendas-1 {
  width: 100%;
}
.agendas .agendas-texto1 {
  font-family: "Caveat", cursive;
}
.agendas .agendas-sinopsis1 {
  font-family: "Crimson Text", serif;
}

.formulario {
  background-color: white;
}
.formulario .formulario_titulo {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 250%;
}
.formulario .formulario_datos {
  font-family: "Crimson Text", serif;
  margin: 5px;
}
.formulario .formulario_datos .modificacion {
  display: inline;
  margin-right: 5px;
}
.formulario .formulario_datos .modificacion1 {
  display: inline;
  margin-left: 100px;
  margin-right: 5px;
}

.aclaraciones {
  border: 2px solid;
  margin-bottom: 20px;
}
.aclaraciones .aclaraciones_titulo {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 250%;
}
.aclaraciones .aclaraciones_texto {
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 120%;
}
.aclaraciones .aclaraciones_foto {
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
  margin-left: 3px;
}

.terminos {
  border-top: 2px solid;
}
.terminos .terminos_titulo {
  text-align: center;
  font-family: "Caveat";
  font-size: 300%;
}
.terminos .terminos_text {
  text-align: justify;
  font-family: "Crimson Text", serif;
  font-size: 100%;
}

.libreria {
  border: solid 2px;
  width: 1300px;
  height: 1300px;
  background-color: white;
  border-radius: 8px;
  padding: 10px 15px 0px 10px;
  margin: 10px;
}
.libreria .libreria-1 {
  width: 50%;
  height: 50%;
}
.libreria .libreria-2 {
  width: 50%;
  height: 50%;
}
.libreria .libreria.texto1 {
  text-align: right;
}

@media (max-width: 1700px) {
  .ofertas {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .ofertas {
    width: 100%;
  }
  .agendas {
    width: 100%;
  }
  .libros {
    width: 100%;
  }
}
@media (max-width: 570px) {
  .ofertas__texto {
    font-size: 100%;
  }
  .precio {
    font-size: 130%;
  }
  .ofertas {
    width: 90%;
    height: 100%;
  }
  h1 {
    font-size: 100%;
  }
  .libros {
    width: 100%;
    height: 100%;
  }
  .libros-sinopsis {
    font-size: 90%;
  }
  .libros-1 {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 410px) {
  .ofertas__texto {
    font-size: 100%;
  }
  .precio {
    font-size: 100%;
  }
}
@media (max-width: 270px) {
  .ofertas__foto {
    height: 50%;
  }
  .logo {
    width: 80%;
    height: 80%;
  }
  .ofertas__texto {
    font-size: 80%;
  }
  .precio {
    font-size: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
