
.ofertas {
  border: solid 2px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 550px;
  margin-bottom: 10px;

  .ofertas__foto {
    height: 520px;
    width: 100%;
  }

  .ofertas__texto {
    text-align: center;
    font-weight: bold;
    font-family: $fuente-titulos;
    font-size: 250%;
  }
  .ofertas__texto1 {
    text-align: center;
    font-weight: bold;
    font-family: $fuente-titulos;
    font-size: 230%;
  }
 
  .boton-tama {
    font-size: 100%;
  }
}
/* TRANSICIONES */
.ofertas:hover{
 padding: 5px;
  width: 570px;
  height: 710px;
  transition: all 2s;
  .ofertas__texto{
    font-size: 260%;
     transition: all 2s;
  }
  .ofertas__texto1{
    font-size: 240%;
     transition: all 2s;
  }
.boton-tama{
  font-size: x-large;
   transition: all 2s;
}
.precio{
  font-size: 250%;
   transition: all 2s;
}

  
}
