.libros {
  border: solid 2px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 360px;

  

  .libros-foto {
    width: 100%;
    height: 520px;
  }
  .libros-texto1 {
    text-align: center;
    font-family: "Caveat", cursive;
    margin-top: 10px;
  }
  .libros-sinopsis {
    text-align: justify;
    margin-top: 10px;
    font-size: 100%;
    font-family: "Crimson Text", serif;
  }
}
