@media (max-width: 1700px) {
  .ofertas {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .ofertas {
    width: 100%;
  }
  .agendas {
    width: 100%;
  }
  .libros {
    width: 100%;
  }
}
@media (max-width: 570px) {
  .ofertas__texto {
    font-size: 150%;
  }
  .precio {
    font-size: 150%;
  }
  .ofertas {
    width: 90%;
    height: 100%;
  }

  h1 {
    font-size: 100%;
  }
  .libros {
    width: 100%;
    height: 100%;
  }
  .libros-sinopsis {
    font-size: 90%;
  }
  .libros-1 {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 410px) {
  .ofertas__texto {
    font-size: 100%;
  }
  .precio {
    font-size: 100%;
  }
}
@media (max-width: 270px) {
  .ofertas__foto {
    height: 50%;
  }
  .logo {
    width: 80%;
    height: 80%;
  }
  .ofertas__texto {
    font-size: 80%;
  }
  .precio {
    font-size: 80%;
  }
}
